
body {
    font-family: Arial, sans-serif;
    background: #ffffff;
    text-align: center;
    margin: 0;
    padding: 0;
    color: #222;
}

button {
    background: #e5e5e5;
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    color: #222;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px;
}

.hidden { display: none; }
